header, section, footer, aside, nav, article, figure {
  display: block;
  position: relative; }

.container {
  margin-left: auto;
  margin-right: auto; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', 'Arial', sans-serif; }

.header-container, .nav, .content, .footer, .type, .information {
  width: 100%;
  margin: 0 auto;
  height: auto; }

.header {
  width: 100%;
  height: 220px;
  background: url(../image/fallspark.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header-container {
  height: 220px; }

.logo {
  float: left;
  padding-top: 20px;
  padding-right: 50px;
  position: absolute;
  left: 20px; }

.slogan {
  margin: 0 auto;
  padding-right: 170px;
  padding-top: 55px;
  font: 40px Gill Sans SemiBold;
  color: #FFFEC0;
  position: relative;
  left: 260px;
  top: 70px; }

.phone {
  font: 25px Gill Sans SemiBold;
  color: #FFFEC0;
  float: right;
  position: relative;
  top: 70px;
  left: 55px; }

.navbar {
  width: 100%;
  height: 70px;
  background-color: #343621; }

.nav {
  height: 70px;
  width: 100%; }

.nav ul {
  text-align: left;
  margin: auto;
  width: 1100px; }

.nav li {
  display: inline;
  padding: 0px;
  margin: 65px;
  position: relative;
  top: 30px;
  font: 24px STIXGeneral; }

a {
  color: #FFFEC0;
  text-decoration: none; }

a:hover {
  color: #89c403; }

.contentbackground {
  width: 100%;
  background-color: #FFFEC0;
  height: auto; }

.img, .copy {
  float: left; }

.img {
  width: 550px;
  height: auto;
  margin-top: 110px;
  margin-left: 40px; }

.copy {
  width: 430px;
  margin-top: 40px;
  font: 18px/35px STIXGeneral;
  color: #333333;
  position: relative;
  left: 50px;
  margin-bottom: 40px; }

.footerbackground {
  min-width: 360px;
  clear: left;
  width: 100%;
  background: #343621;
  height: 380px; }
  .footerbackground .footer {
    display: inline-block; }

.content {
  height: 650px; }

span {
  font: 25px Gill Sans;
  color: #FFFEC0;
  text-align: center;
  position: relative;
  bottom: 20px; }

.hour {
  display: inline-block;
  width: 200px; }

.hour ul {
  width: 150px;
  height: 300px;
  margin-left: 20px;
  position: relative;
  top: 45px;
  list-style-type: none; }

.hour ul li {
  text-align: left;
  font: 16px STIXGeneral;
  color: #F5F5F5;
  margin-bottom: 8px; }

.appointment {
  display: inline-block;
  font: 25px Gill Sans;
  color: #FFFEC0;
  position: relative;
  bottom: 200px;
  left: 80px; }

.appointment img {
  position: relative;
  top: 180px;
  right: 110px; }

.contact {
  display: inline-block;
  font: 25px Gill Sans;
  color: #FFFEC0;
  position: relative;
  bottom: 200px;
  left: 100px; }

.contact img {
  position: relative;
  top: 186px;
  right: 140px; }

.map {
  display: inline-block;
  font: 25px Gill Sans;
  color: #FFFEC0;
  position: relative;
  top: 4px;
  left: 160px; }

.map img {
  position: relative;
  top: 30px;
  right: 40px; }

.appointment a:hover, .contact a:hover, .map a:hover {
  color: #89c403; }

.office, .doctor, .team {
  float: left;
  margin-left: 20px;
  text-align: center; }

.office img, .doctor img, .team img {
  margin-bottom: 100px;
  margin-top: 150px;
  margin-left: 30px;
  width: 100%; }

.office a, .doctor a, .team a {
  clear: both;
  color: blue;
  position: relative;
  bottom: 50px;
  font: 25px STIXGeneral;
  color: #333333; }

.office a:hover, .doctor a:hover, .team a:hover {
  color: #89c403; }

.bright, .clear, .sleep, .makeover, .text {
  float: left;
  margin-left: 20px;
  text-align: center;
  padding-bottom: 40px; }

.bright img, .clear img, .sleep img, .makeover img {
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 30px; }

.bright a, .clear a, .sleep a, .makeover a {
  clear: both;
  position: relative;
  bottom: 50px;
  right: 80px;
  font: 25px STIXGeneral;
  color: #333333;
  text-align: center; }

.bright a:hover, .clear a:hover, .sleep a:hover, .makeover a:hover {
  color: #89c403; }

.bright img, .clear img {
  margin-left: 80px;
  margin-left: 80px; }

.sleep img, .makeover img {
  margin-top: 40px;
  margin-left: 50px; }

.text {
  position: relative;
  left: 100px; }

.clear img {
  position: relative;
  left: 50px; }

.sleep a, .makeover a {
  position: relative;
  right: 140px; }

.bright img {
  position: relative;
  left: 20px; }

.makeover img {
  position: relative;
  right: 10px; }

.type {
  overflow-y: hidden;
  height: 1400px; }

h1 {
  font: 30px Gill Sans SemiBold;
  color: #343621;
  margin-top: 50px; }

p {
  font: 20px/35px STIXGeneral;
  color: #4D4D4D;
  max-width: 700px; }

.information {
  overflow-y: hidden;
  height: 1180px; }

.information a {
  color: #F5F5F5; }

.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #343621));
  background: -moz-linear-gradient(top, #89c403 5%, #343621 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #343621 100%);
  background: -o-linear-gradient(top, #89c403 5%, #343621 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #343621 100%);
  background: linear-gradient(to bottom, #89c403 5%, #343621 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #343621;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009; }

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
  background: -moz-linear-gradient(top, #343621 5%, #89c403 100%);
  background: -webkit-linear-gradient(top, #343621 5%, #89c403 100%);
  background: -o-linear-gradient(top, #343621 5%, #89c403 100%);
  background: -ms-linear-gradient(top, #343621 5%, #89c403 100%);
  background: linear-gradient(to bottom, #343621 5%, #89c403 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
  background-color: #343621; }

.button:active {
  position: relative;
  top: 1px; }

/*# sourceMappingURL=style.css.map */
